.alertText {
  margin-left: 15px;
  height: 56px;
  margin-right: 15px;
  margin-top: 11px;
  display: flex;
  margin: 16px 16px 0px 16px;
}
.alertText .alertHeading {
  margin-top: 8px;
  margin-left: 15px;
  width: 100%;
}
.alertHeading .alertHeadingText {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.alertHeading .alertReasonText {
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
.alertText .alertBannerButton {
  display: flex;
  flex-direction: row;
}
.alertBannerButton .alertNavigationButton {
  padding: 0px !important;
  width: 200px;
  border-radius: 2px;
  margin: 8px 16px 8px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  text-align: center;
  text-transform: none;
}
.alertText .alertHeading .alertReasonParentClass {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  text-transform: none;
  border: none;
}
.ConfirmPlacement {
  background: #fff0f0;
  border-left: 5px solid #cb0000;
  color: #cb0000;
}
.MissingRx {
  background: #fff0f0;
  border-left: 5px solid #cb0000;
  color: #cb0000;
}
.ProofofDeliveryNeeded {
  background: #fff0f0;
  border-left: 5px solid #cb0000;
  color: #cb0000;
}
.PendingSupplyOrder {
  background: #fff0d4;
  border-left: 5px solid #915800;
  color: #915800;
}
.alertBannerButton .ConfirmPlacementBtn {
  border: 1px solid #cb0000;
  color: #cb0000;
}
.alertBannerButton .MissingRxBtn {
  border: 1px solid #cb0000;
  color: #cb0000;
}
.alertBannerButton .ProofofDeliveryNeededBtn {
  border: 1px solid #cb0000;
  color: #cb0000;
}
.alertBannerButton .PendingSupplyOrderBtn {
  border: 1px solid #915800;
  color: #915800;
}
.alertBannerButton .PendingSupplyOrderBtn:hover {
  border: 1px solid #915800;
  background: #ffff;
}
.alertBannerButton .ProofofDeliveryNeededBtn:hover {
  border: 1px solid #cb0000;
  background: #ffff;
}
.alertBannerButton .MissingRxBtn:hover {
  border: 1px solid #cb0000;
  background: #ffff;
}
.alertBannerButton .ConfirmPlacementBtn:hover {
  border: 1px solid #cb0000;
  background: #ffff;
}
@media (max-width: 600px) {
  .alertText .alertHeading .alertReasonParentClass {
    height: 83px;
  }
}
