.patient-found {
  padding: 16px;
  margin-bottom: 24px;
}

.patient-found .header {
  margin: 0;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 24px;
}

.patient-found .found-patient {
  background: #F8F8FA;
  border: 1px solid #E4E4E8;
  padding: 8px 16px;
  margin-bottom: 24px;
}

.found-patient .sub-text {
  margin: 0;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
}

.found-patient b {
  font-size: 14px;
  line-height: 18px;
}

.patient-found .button-section {
  display: flex;
  justify-content: space-between;
}

.patient-found .search-again,
.patient-found .add-patient {
  width: 49%;
  font-weight: 700;
}

.found-patient-name {
  text-transform: capitalize;
}