.tunneling {
  width: 560px;
  margin-top: 35px;
}

.tunneling-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #323234;
}

.tunneling .tunneling-box-container {
  margin-top: 12px;
  width: 100%;
}

.tunneling .tunneling-grid-container {
  width: 100%;
}

.tunneling-grid-container .tunneling-grid-item {
  width: 100%;
}

.tunneling .radioRoot {
  flex-direction: row;
  justify-content: space-between;
}

.tunneling .optionRoot {
  border: 1px solid #b4b4b8;
  box-sizing: border-box;
  height: 48px;
  margin: 0;
  width: calc(49% - 4px);
}

.tunneling .optionRoot-active {
  border: 1px solid #0049bd;
  box-sizing: border-box;
  height: 48px;
  margin: 0;
  width: calc(49% - 4px);
}

.tunneling .optiontxt {
  color: #4c4c4f;
  font-family: "3MCircularTT";
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

.tunneling .optiontxtSelect {
  color: #18181a;
  font-family: "3MCircularTT";
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

.depth-input {
  width: 100%;
}

.tunneling .clockPosition-input .clockPosition-select {
  height: 12px;
  width: 242px;
  display: block;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.tunneling .clockPosition-input {
  width: 105px;
}

.tunneling .placeHolder .selectIcon {
  top: 10px;
}

.tunneling .tunneling-box-container div.placeHolder {
  border-radius: 2px;
  width: 105px;
}

.tunneling .placeHolder div.placeHolder {
  border-right: unset;
  height: 10px;
  width: 242px;
}

.tunneling .MuiSelect-icon {
  top: calc(50% - 0.4em);
}

.clockText {
  align-self: center;
  top: 20px;
  margin-left: 13px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-left: 0px;
}
@media only screen and (max-width: 1200px) {
  .clockText {
    margin-left: 25px;
  }
  .tunneling .tunneling-box-container {
    width: 580px;
  }
}
@media only screen and (min-width: 1200px) {
  .clockText {
    margin-left: 30px;
  }
}
