.reusableOrderPopup {
  width: 390px;
  min-height: 202px;
}
.reusableOrderPopupContent {
  padding: 16px 16px 8px;
}
.reusableOrderPopupTitle {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 24px;
  color: #323234;
  margin-right: 10px;
}
.reusableOrderDNoBtn {
  margin-top: 12px;
  width: 100%;
  padding: 8px 0px;
}
.reusableOrderDYesBtn {
  width: 100%;
  background-color: #cb0000;
  color: white;
  text-transform: none;
}
.reusableOrderDOptBtnNo {
  width: 100%;
}
.reusableOrderPopup .reusableOrderDYesBtn {
  width: 100%;
  background-color: #cb0000;
  color: white;
  text-transform: none;
}
.reusableOrderPopup .reusableOrderDYesBtn:hover {
  width: 100%;
  background-color: #cb0000;
  color: white;
  text-transform: none;
}
.reusableOrderDYesBtn {
  background-color: #cb0000;
  color: white;
}
.DialogTitle {
  position: absolute;
  right: 2px;
  top: -5px;
  padding: 0px;
}
.popupCloseIcon {
  float: right;
  margin-top: -6px;
}
