.woundInfoDR {
  margin-top: 40px;
}
.woundInfoDR .woundInfoDRTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #323234;
}
.woundInfoDR .woundInfoDRDesp {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #323234;
}
.woundInfoDR .woundInfoDRDate {
  margin-top: 15px;
}
.woundInfoDR .woundInfo1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #323234;
  margin-top: 10px;
}
.woundInfoDR .woundInfo2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #323234;
  margin-top: 20px;
}

.woundInfoDR .woundInfo-rowDiv {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
}
.woundInfoDR .woundInfo-finalD {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #323234;
}

.woundInfoDR .dimension-box-container {
  margin-top: 12px;
  width: 100%;
}

.woundInfoDR .dimension-grid-container {
  width: 100%;
}

.woundInfoDR .woundMeasuredata-box-container {
  width: 97%;
}

.woundInfoDR .woundMeasure-grid-container {
  width: 106%;
}

.woundMeasure-grid-container .woundMeasure-grid-item {
  width: 100%;
}
.woundInfoDR .depth-input {
  width: 100%;
}
@media only screen and (max-width: 920px) {
  .woundInfoDR .woundInfo-rowDiv {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
  }
}
