html,
body {
  height: auto !important;
}
.sideNavBar {
  display: none !important;
}
.supplyOrderBtn {
  display: none !important;
}
.facilityBanner {
  display: none !important;
}
.orderSummaryBtn {
  display: none !important;
}
.supply-order-summary-container {
  background-color: aliceblue !important;
  margin: 16px 16px 16px 16px !important;
  align-items: flex-start !important;
  padding: 5px 10px 40px 30px !important;
  height: auto !important;
  background: #ffffff !important;
  box-shadow: none !important;
  border-radius: 4px !important;
}
.appHelp {
  display: none !important;
}
.orderSummaryForm {
  gap: 40px !important;
  margin-top: 10px !important;
  width: 100% !important;
}
.footerMainDiv {
  display: none !important;
}
/* Side Nav */
.css-16z7hfo {
  display: none !important;
}

.additional-information-review-order {
  page-break-inside: avoid;
  orphans: 0;
  widows: 0;
}
.table_container_review {
  page-break-inside: avoid;
  orphans: 0;
  widows: 0;
}
.currentSupplies-review-order {
  page-break-inside: avoid;
  orphans: 0;
  widows: 0;
}
.resupply-Justification-review-order {
  page-break-inside: avoid;
  orphans: 0;
  widows: 0;
}
.deliveryAddress-review-order {
  page-break-inside: avoid;
  orphans: 0;
  widows: 0;
}
.supply-header-main {
  page-break-inside: avoid;
  orphans: 0;
  widows: 0;
}
.footer-btn-group {
  display: none !important;
}
.css-1wffy55 {
  display: none !important;
}
.pickupConfirmDesp-labelPrintBtn {
  display: none !important;
}
.pickupConfirm .button-print-label {
  display: none !important;
}
.pickupConfirmDesp-saveOrderDiv .pickupConfirmDesp-saveOrderBtn {
  display: none !important;
}
.pick-up-main-component {
  align-items: flex-start !important;
  padding: 5px 10px 40px 30px !important;
  height: auto !important;
  box-shadow: none !important;
  border-radius: 4px !important;
}
.pickup-device-info {
  page-break-inside: avoid;
  orphans: 0;
  widows: 0;
}
