.orderdetailstepper-container {
  margin: 16px 0px 16px 16px;
}
.orderdetailstepperForm {
  background-color: #fff;
  margin-right: 57px;
  margin-bottom: 0px;
}
.orderdetailstepperForm .short-form {
  width: 65.56%;
}

@media only screen and (max-width: 926px) {
  .orderdetailstepper-container {
    margin: 0px;
  }
  .orderdetailstepperForm {
    margin-right: 0px;
  }
}
