.woundAssess-infection {
  margin-top: 39px;
  width: 560px;
}
.woundAssess-infection-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #323234;
}
.woundAssess-infection .woundAssess-infection-box-container {
  margin-top: 8px;
  width: 97%;
}

.woundAssess-infection .woundAssess-infection-grid-container {
  width: 106%;
}

.woundAssess-infection-grid-container .woundAssess-infection-grid-item {
  width: 100%;
}

.woundAssess-infection .radioRoot {
  flex-direction: row;
  justify-content: space-between;
}

.woundAssess-infection .optionRoot {
  border: 1px solid #b4b4b8;
  box-sizing: border-box;
  height: 48px;
  margin: 0;
  width: calc(49% - 4px);
}

.woundAssess-infection .optionRoot-active {
  border: 1px solid #0049bd;
  box-sizing: border-box;
  height: 48px;
  margin: 0;
  width: calc(49% - 4px);
}

.woundAssess-infection .optiontxt {
  color: #4c4c4f;
  font-family: "3MCircularTT";
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

.woundAssess-infection .optiontxtSelect {
  color: #18181a;
  font-family: "3MCircularTT";
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}
