.forgot-username-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #323234;
  margin: 20px 0;
}

.forgot-username-container {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 32% !important;
}

.forgot-username-container .username-email-input {
  width: 100%;
}

.forgot-username-container .errorMsg {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #cb0000;
  margin-top: 8px;
  display: none;
}

.forgot-username-container .errorMsgEnable {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #cb0000;
  margin-top: 8px;
  display: block;
}

.forgot-username-button {
  margin-top: 34px;
  width: 32%;
}

.forgot-username-button .forgot-username-submit {
  margin-left: 4px;
  width: calc(100% - 8px);
}

@media only screen and (max-width: 926px) {
  .forgot-username-container {
    width: 50% !important;
  }
  .forgot-username-button {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .forgot-username-container {
    width: 100% !important;
    padding: 16px;
  }
  .forgot-username-button {
    width: 100%;
    margin: 0px;
  }
  .forgot-username-button .forgot-username-submit {
    margin-left: 19px;
    width: calc(100% - 39px);
  }
}
