.order-overview {
  margin: 0px;
}
.order-overview .all-content-div-orderoverview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -6px;
  width: 100%;
}
.order-overview .sub-content-div-orderoverview {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-left: 16px;
  margin-bottom: 16px;
  width: calc(100% - 34px);
  border: 1px solid #e4e4e8;
  background: #ffffff;
}

.sub-content-component-border-div {
  border: -0.5px solid #e4e4e8;
}
.sub-content-component-border-div .sub-content-component {
  margin-left: 16px;
  margin-bottom: 15px;
  margin-top: -26px;
}
.grid-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.grid-conatiner .grid-item {
  width: 100%;
  height: fit-content;
}
.border-div {
  border-top: 1px solid #e4e4e8;
  border-bottom: 1px solid #e4e4e8;
}
.border-div .sub-content-component {
  margin-left: 16px;
  margin-bottom: 15px;
  margin-top: -30px;
}
