.search-list-component .search-results {
  font-family: "3MCircularTT";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #323234;
  margin-bottom: 24px;
}
.search-list-component .select-facility {
  font-family: "3MCircularTT";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #1e64d0;
  margin-right: 24px;
  margin-bottom: 16px;
  cursor: pointer;
}
.search-list-component .facility-card-even {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px 24px 11px 16px;
  gap: 8px;
  height: 94px;
  background: #f8f8fa;
}
.search-list-component .facility-card-odd {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px 24px 11px 16px;
  gap: 8px;
  height: 94px;
  background: #ffffff;
}
.search-list-component .facility-name {
  font-family: "3MCircularTT";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #323234;
}
.search-list-component .facility-details {
  font-family: "3MCircularTT";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #76767a;
}
.search-list-component .back-to-search-btn-container {
  padding: 24px 0px 0px 0px;
}
.back-to-search-btn-container .back-to-search-btn {
  width: 100%;
}
.back-to-search-btn .back-to-search-label {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #0049bd;
}

.loader {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 48px;
  width: 100%;
}
