patient-info-component {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.patient-info .patient-info-header {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  width: 100%;
}

.patient-info .patient-info-title-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: fit-content;
}

.tooltip .tooltip-content {
  width: 100%;
}

.tooltip-content .tooltip-header {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323234;
}

.tooltip-content .tooltip-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #323234;
  margin-top: 8px;
  margin-bottom: 4px;
}

.patient-info .patient-info-title {
  color: #323234;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.patient-info .patient-info-description {
  color: #323234;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 8px;
  margin-bottom: 0px;
}

.patient-info-box-container {
  margin-top: 8px;
  width: 100%;
}

.patient-info-box-container .patient-info-grid-container {
  width: 100%;
}

.patient-info-grid-container .patient-info-input {
  width: 100%;
}

.phone {
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #94949a;
  font-size: 14px;
  padding: 11.15px 12px;
}

.phone:focus {
  outline: none;
}

.Mui-error + div .phone {
  border-color: #d32f2f;
}

.popper .tooltip {
  background-color: #fff;
  color: #000;
  padding: 14px 32px 16px 16px;
  font-size: 14px;
  border: 1px solid #808084;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14),
    0px 3px 1px rgba(0, 0, 0, 0.12);
  border-radius: 0;
  width: 400px;
}

.checkboxRootSMS + span {
  font-size: 14px;
  line-height: 18px;
  color: #323234;
}

.adornedRoot {
  position: absolute;
  right: 13px;
}

.adornedRoot1 {
  position: absolute;
  right: 13px;
}

.nextBtn.containedBtn {
  margin-top: 70px;
}

.dob input.input {
  border-right: 0;
}

div.dob {
  padding-right: 0;
}

.dob .outline {
  border-radius: 2px;
}

.dob.showError .outline {
  border: 1px solid #d32f2f;
}

.dob.noError.Mui-error .outline {
  border: 1px solid #94949a;
}

.dob1 input.input {
  border-right: 0;
}

div.dob1 {
  padding-right: 0;
}

.dob1 .outline {
  border-radius: 2px;
}

.dob1.showError .outline {
  border: 1px solid #d32f2f;
}

.dob1.noError.Mui-error .outline {
  border: 1px solid #94949a;
}

.Mui-error > input.MuiInputBase-input {
  border-color: #d32f2f;
}

div.select {
  text-transform: capitalize;
}

div.selectRoot {
  border-radius: 2px;
}

.selectRoot div.select {
  border-right: unset;
  height: 20px;
}

.selectRoot .selectIcon {
  top: 10px;
}

div.placeHolder {
  border-radius: 2px;
  color: #76767a;
}

.placeHolder div.placeHolder {
  border-right: unset;
  height: 20px;
}

.placeHolder .selectIcon {
  top: 10px;
}

.patient-info .patient-info-input .patient-info-select {
  height: 12px;
  display: block;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.patient-info div.placeHolder {
  border-radius: 2px;
  color: #76767a;
  width: 100%;
}

.patient-info .placeHolder div.placeHolder {
  border-right: unset;
  height: 20px;
  width: 100%;
}

svg.tooltipRoot {
  width: 18.5px;
  height: auto;
  margin-left: 8.83px;
  cursor: pointer;
}

.addressValidationPopup .paperRoot {
  min-width: 480px;
  height: 355px;
}

.addressInfo .radioRoot {
  margin-bottom: 20px;
}

.addressInfoRadioRoot {
  margin-left: 16px;
}

.addressValidationPopup .popupCloseIcon {
  display: none;
}

.addressInfo .addressInfoOptiontxt {
  font-size: 14px;
  line-height: 18px;
  color: #4c4c4f;
  font-family: "3MCircularTT";
}

.validateAddressMainContainer {
  padding: 24px;
}
.validateAddressHeader {
  font-family: "3MCircularTT";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.validateAddressSameAsEntered {
  font-family: "3MCircularTT";
  margin-top: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.validateAddressFound {
  font-family: "3MCircularTT";
  margin-top: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  right: 16px;
}

.novalidateAddressFound {
  font-family: "3MCircularTT";
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.addressValidationPopup .returnOrderEntryBtn {
  min-width: 204px;
}

.addressValidationPopup .continueBtn {
  margin-left: 24px;
  min-width: 204px;
}

.buttonGroup {
  margin-top: 32px;
}
