.inpatientTransition {
  margin: 37px 0 40px 0;
  width: 100%;
}

.inpatientTransition .inpatientTransition-title {
  color: #323234;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 8px;
}

.inpatientTransition .inpatientTransition-grid-container {
  width: 100%;
}

.inpatientTransition-grid-container .inpatientTransition-grid-item {
  width: 100%;
}

.inpatientTransition-grid-container .inpatientTransition-grid-item-yes {
  margin-top: 16px;
  width: 100%;
}

.inpatientTransition .was-NPWT-initiated {
  white-space: inherit;
}

.inpatientTransition .radioRoot {
  flex-direction: row;
  justify-content: space-between;
}

.inpatientTransition .optionRoot {
  border: 1px solid #b4b4b8;
  box-sizing: border-box;
  height: 48px;
  margin: 0px;
  width: calc(49% - 4px);
}

.inpatientTransition .optionRoot-active {
  border: 1px solid #0049bd;
  box-sizing: border-box;
  height: 48px;
  margin: 0;
  width: calc(49% - 4px);
}

.inpatientTransition .optiontxt {
  color: #4c4c4f;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

.inpatientTransition .optiontxtSelect {
  color: #18181a;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

.inpatientTransition .dateInitiated {
  margin-top: 0px;
}

.inpatientTransition .dateInitiated input.input {
  border-right: 0;
}

div.dateInitiated {
  padding-right: 0;
}

.inpatientTransition .dateInitiated .outline {
  border-radius: 2px;
}

.inpatientTransition .dateInitiated.showError .outline {
  border: 1px solid #d32f2f;
}

.inpatientTransition .dateInitiated.noError.Mui-error .outline {
  border: 1px solid #94949a;
}

.inpatientTransition .facilityDetail {
  margin-top: 8px;
  width: 100%;
}

.inpatientTransition .facilityDetail .facilitywrapper {
  align-items: flex-start;
  align-self: stretch;
  background-color: fff;
  border: 1px solid #e4e4e8;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 8px 15px 0;
  overflow: hidden;
  width: 100%;
}

.inpatientTransition .facilityDetail .facility-detail {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.inpatientTransition-grid-container .button-change-facility {
  align-items: center;
  border: 1px solid;
  border-color: #0049bd;
  border-radius: 2px;
  color: #0049bd;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  height: 32px;
  line-height: 18px;
  margin-left: 16px;
  margin-top: 0px;
  min-height: 40px;
  min-width: 120px;
  text-transform: capitalize;
  width: 23.5%;
}

@media only screen and (max-width: 1489px) {
  .inpatientTransition .radioRoot {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 852px) {
  .inpatientTransition .radioRoot {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .facilityDetail {
    margin: 0;
  }

  .facilityDetail .facilitywrapper {
    margin: 0;
    width: 100%;
    flex-direction: column;
    height: unset;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .leftfaciltydetails,
  .rightfaciltydetails {
    width: 100%;
    margin: 0;
  }

  .facilityinformation {
    padding-left: 8px;
    box-sizing: border-box;
  }

  .facilityDetail .facilitywrapper {
    margin: 0 0 15px 0;
    width: 100%;
  }
}
