.charity-care-container {
  width: 100%;
  margin-top: 16px;
}
.charity-care-container ul {
  padding-inline-start: 0;
  padding-left: 25px;
  font-size: 18px;
  font-weight: 700;
}
.charity-care-container .charity-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #323234;
}
.charity-care-container .charity-pdf-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-decoration: underline;
  color: #0049bd;
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
}
.charity-care-container .charity-instruction {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #323234;
}
.charity-care-container .pdf-size {
  display: inline;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #76767a;
  margin-left: 5px;
  margin-top: 21px;
}
.charity-care-container .charity-instruction .upload-doc {
  display: inline;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #323234;
}
