.facility-settings {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 16px 112px 101px 112px;
  min-height: calc(100vh - 244px);
  width: calc(100% - 224px);
}

.facility-settings .MuiPaper-root {
  box-shadow: none;
  border-radius: 0;
}

.facility-settings .short-form {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 40px;
  width: 61.88%;
}

.facility-settings .button-group {
  width: 100%;
}

.facility-settings .facility-settings-loader-pop-up {
  height: 250px;
  width: 350px;
}

.facility-settings-loader-pop-up-div {
  display: flex;
  justify-content: center;
  height: 250px;
  margin: 0;
  width: 350px;
}

.facility-settings .facility-settings-success-pop-up {
  height: 196px;
  width: 574px;
}

.facility-settings-success-pop-up-div {
  display: flex;
  justify-content: center;
  height: 196px;
  margin: 0;
  width: 574px;
}
