.footerMainDiv {
  width: 100%;
  position: absolute;
}

.footerMainDivNewOrder {
  position: absolute;
  width: 100%;
  bottom: 72px;
}

.footerForPickUpOrDischargeRequest {
  position: absolute;
  width: 100%;
  bottom: -16px;
}

.footerForAddWoundAssessment {
  position: absolute;
  width: 100%;
  bottom: 72px;
}
.footerForDischargeRequest {
  position: absolute;
  width: 100%;
  bottom: 70px;
}
.footerForInternalUser {
  width: 100%;
  bottom: 80px;
}
.footerSupplyOrderDiv {
  position: absolute;
  width: 100%;
  bottom: 68px;
}

.cms-content-link {
  padding: 10px;
  display: inline;
  border-bottom: 1px;
  height: 20px;
  color: #323234;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

@media only screen and (max-width: 1125px) {
  .cms-content-link {
    padding: 0px;
  }
}
@media only screen and (max-width: 920px) {
  .footerForDischargeRequest {
    position: relative;
  }
}
