.homecareprovider-search {
  padding: 16px;
}

.homecareprovider-search .header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #323234;
}

.homecareprovider-payer-inputs {
  display: flex;
  margin-top: 24px;
}

.homecareprovider-search-input {
  width: 527px;
}
.homecareprovider-informantion-item {
  width: 100%;
}

.home-care-provider-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 8px;
  width: 100%;
}

.home-care-provider-search .home-care-provider-search-label {
  color: #323234;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0px;
}

.search-homecareprovider-inputs .home-outlined-input-root {
  width: 100%;
  max-height: 40px;
  margin-right: 8px;
  max-width: 536px;
}

.home-care-provider-search .facilities-database-button {
  color: #0049bd;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 18px;
  line-height: 18px;
  text-decoration: underline;
  text-transform: none;
}

.search-homecareprovider-inputs .search-results-container {
  max-height: 220px;
  overflow-y: auto;
  background: #ffffff;
  border: 1px solid #ccccd0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  position: fixed;
  max-width: 506px;
  width: 100%;
  z-index: 55;
  margin: 0px 16px;
}

.add-new-homecare-provider-box-container {
  background: #ffffff;
  margin-left: 53%;
  margin-top: 2%;
}

.add-new-homecare-provider-box-container .add-new-homecareprovider-button {
  border: 1px solid;
  border-radius: 1px;
  color: #0049bd;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  line-height: 18px;
  margin-left: 3%;
  margin-top: -6%;
  text-transform: none;
}

.txtAlign {
  color: #0049bd;
  font-size: 14px;
  font-weight: 700;
}

.search-results-container {
  max-height: 220px;
  overflow-y: auto;
  background: #ffffff;
  border: 1px solid #ccccd0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  position: fixed;
  max-width: 506px;
  width: 100%;
  z-index: 55;
  margin: 0px 16px;
}

.search-results-container .no-results {
  max-width: 568px;
  min-height: 18px;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  cursor: pointer;
}

.search-results-container .no-results .no-results-title {
  color: #cb0000;
  cursor: default;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 4px 8px 6px 8px;
}

.search-results-container .no-results .no-results-would-you-like-to {
  cursor: default;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.search-results-container
  .no-results
  .no-results-would-you-like-to
  .home-care-provider-add-new-button {
  color: #0049bd;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  min-height: 18px;
  line-height: 18px;
  padding: 4px 8px 6px 8px;
  text-decoration: underline;
  text-transform: none;
}

.search-results-container .search-results {
  align-items: center;
  cursor: pointer;
  display: flex;
  max-width: 568px;
  min-height: 18px;
  padding: 10px 16px;
}

.home-care-provider-name-list {
  background-color: white;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}

.dropDown-home-care-provider-name-list {
  color: #323234;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.dropDown-home-care-provider-city-state-facility-type-list {
  color: #76767a;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.home-care-provider-name-div {
  margin-right: 8px;
}

.home-care-provider-second-list {
  background-color: white;
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
}
