.review-admission-title .review-admission-sub-title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323234;
  margin-bottom: 7px;
  margin-left: 20px;
}
.review-admisson-info-div {
  width: 100%;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  margin-left: 20px;
}
.review-facililty-info-div {
  width: 100%;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}
.review-woundadmission-related-info-div {
  width: 100%;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  margin-left: 20px;
}

/* button */
.review-admission-title .admission-edit-button {
  color: #0049bd;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  margin-left: 4px;
  text-decoration-line: underline;
  text-transform: none;
  cursor: pointer;
}
@media only screen and (max-width: 920px) {
  .review-admisson-info-div {
    margin-left: 16px;
  }
}
