.dressingHeader {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.dressingBody {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.dressingBodySub {
  margin-top: 8px;
}
.dressingMain {
  margin-top: 40px;
}
