.nutrition-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
}
.nutrition-container .nutri-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #323234;
  margin-bottom: 5px;
}
.nutrition-container .radioRoot {
  display: flex;
  flex-direction: row;
}
.nutrition-container .optionRoot {
  display: flex;
  align-items: center;
  border: 1px solid #b4b4b8;
  margin-left: 0;
  margin-right: 16px;
  width: 126px;
  min-height: 48px;
}
.nutrition-container .optionRoot-active {
  display: flex;
  align-items: center;
  border: 1px solid #0049bd;
  margin-left: 0;
  margin-right: 16px;
  width: 126px;
  min-height: 48px;
}

.nutrition-container .optiontxt {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #4c4c4f;
}

.nutrition-container .optiontxtSelect {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #18181a;
}

.nutrition-container .nutri-status-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #323234;
}
.nutrition-container .nutrition-actions-container {
  display: flex;
  margin-top: 15px;
}
.nutrition-container .chkBoxMain {
  display: flex;
}
.nutrition-container .nutri-action-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #656569;
  padding: 9px 0;
}
