.leaveOrderPopup .paperRoot {
  width: 383px;
  height: 240px;
}
.leaveOrderPopup.cancelConfirmationText {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #323234;
  margin-top: 56px;
  text-align: center;
}
.cancelConfirmationTextDesc {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #323234;
  text-align: center;
  margin-top: 8px;
}
.leaveOrderPopup .backOrderButton {
  margin: 10px 16px 10px 16px;
}

.leaveOrderPopup .cancelOrderBtn {
  margin: 0px 16px 10px 16px;
  background-color: #cb0000;
}
.leaveOrderPopup .cancelOrderBtn:hover {
  margin: 0px 16px 10px 16px;
  background-color: #cb0000;
}
