.productInformation {
  width: 100%;
  margin-top: 40px;
}

.productInformation .contributing-cause-title {
  color: #323234;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.productInformation .prodBoxContianer {
  margin-top: 8px;
  width: 100%;
}

.productInformation .prodInfoGridContainer {
  width: 100%;
}

.prodInfoGridContainer .prodInfoGridItem {
  width: 100%;
}

.productInformation .prodInfoRadioRoot {
  flex-direction: row;
  justify-content: space-between;
}

.productInformation .prodInfoOptionRoot {
  border: 1px solid #b4b4b8;
  box-sizing: border-box;
  height: 48px;
  margin: 0;
  width: calc(49% - 4px);
}

.productInformation .prodInfoOptionRootActive {
  border: 1px solid #0049bd;
  box-sizing: border-box;
  height: 48px;
  margin: 0;
  width: calc(49% - 4px);
}
.prodInfoGridItem .prodDescLabel {
  white-space: inherit;
}

.productInformation .prodInfoOptiontxt {
  font-size: 14px;
  line-height: 18px;
  color: #4c4c4f;
  font-family: "3MCircularTT";
}

.prod-info-input.prod-info .prod-info-select {
  height: 12px;
  display: block;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.prod-info-input.prod-info {
  height: 40.125px;
  width: 300px;
}

.productHeader {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.prodSelectContainer {
  margin-top: 15px;
}
.prodSelectContainer .productName {
  font-weight: 200;
  line-height: 18px;
  font-size: 13px;
  color: #76767a;
}
.productContent {
  margin-top: 8px;
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
}
.prodInfoRadioRoot .prodInfoOptionRootActive .checkedClass {
  color: #0049bd;
}
.product-info {
  margin-top: 0px;
}
.star-red {
  color: red;
}
