.patientForm {
  background-color: #fff;
  padding: 8px 40px 40px 40px;
  margin-right: 104px;
  margin-bottom: 150px;
}
.patientForm.summary {
  margin-bottom: 20px;
}
.newOrder-flow {
  background-color: #f8f8fa;
  display: flex;
  flex-direction: column !important;
  min-height: calc(100vh - 144px);
}

.newOrder-container {
  margin: 16px 0px 31px 16px;
}

.patientForm .short-form {
  width: 65.56%;
}

.orderSummaryForm {
  margin-top: 64px;
  margin-bottom: 48px;
  border-bottom: 1px solid #f2f2f5;
}

.orderSummaryBtn .backtoPatientBtn {
  width: 237px;
  margin-bottom: 40px;
  margin-top: 10px;
}
.orderSuccessPara3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #323234;
  margin-top: 0px;
}

.orderSuccessPara2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323234;
  margin-top: 0px;
}

.orderSuccessPara {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #323234;
  margin-bottom: 8px;
  margin-top: 0px;
}

.saveAndExitPopup .paperRoot {
  width: 383px;
  height: 240px;
}

.exitConfirmationText {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #323234;
  margin-top: 56px;
  text-align: center;
}

.exitConfirmationDescText {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #323234;
  margin-top: 8px;
  text-align: center;
}

.saveAndExitPopup .exitCancelBtn {
  margin: 16px 16px 16px 16px;
}

.saveAndExitPopup .exitBtn {
  margin: 0px 16px 10px 16px;
  text-transform: none;
}

.newOrderSaveToast {
  position: fixed;
  z-index: 1;
  left: 520px;
  top: 0;
  margin-top: 6px;
}

.newOrderErrorPopup .paperRoot {
  width: 403px;
  height: 230px;
}

.saveapi-spinner {
  width: 400px;
  height: 190px;
  margin-top: 31px;
}

.saveapi-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #323234;
  padding: 16px;
}
.sharedOrderStyle {
  padding: 10px 16px;
  gap: 8px;
  height: auto;
  background: #f1f1fc;
  border-radius: 5px;
}
.shareOrderDesc {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #323234;
}
.shareOrderAlertTitle {
  font-weight: 700;
  color: #5d5dbd;
}
.stopSharingbtnLink {
  float: right;
  text-decoration: underline;
  cursor: pointer;
  color: #0049bd;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 700;
}
.shareOrderNote {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #323234;
}

.sharedOrderalert {
  margin-top: 40px;
}
/* mobile css */
@media only screen and (max-width: 600px) {
  .patientForm {
    width: 100%;
    box-sizing: border-box;
    padding-left: 11px;
    padding-right: 11px;
  }
  .saveapi-spinner {
    width: 300px;
  }
}

.successStopShare {
  width: 600px;
  height: 188px;
}
.successStopShareTitle {
  padding: 16px 0px 0px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #323234;
}
.successStopShareDesp {
  margin-top: 24px;
  padding: 0px 16px 0px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #323234;
}
.successStopShareClose {
  padding: 0px 16px;
  margin-top: 24px;
}
.successStopShareButton {
  padding-left: 16px;
  margin-top: 24px;
  width: 100%;
}
