.woundBed-GridMaincontainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 16px;
}

.woundBedContainer .bedLabel {
  font-size: 14px;
}

.woundBedContainer .toggleButtonRoot {
  color: #76767a;
  font-size: 14px;
  font-family: "3MCircularTT";
  height: 32px;
  width: 52px;
}

.Mui-selected {
  color: #323234 !important;
  border-color: #0049bd !important;
  background-color: #fff !important;
}
