.pickupConfirmDesp-title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323234;
  margin-bottom: 7px;
}
.pickupConfirmDesp-rowDiv {
  display: flex;
  flex-direction: row;
}
