.administration {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 16px;
  width: 100%;
  min-height: 500px;
}
.administrationTitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #76767a;
  margin-top: 40px;
  margin-left: 40px;
}
.administration .administration-container-main {
  width: auto;
  margin-left: 40px;
  gap: 80px;
}
.administrationMainTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #323234;
}

.admin-subTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #323234;
  margin-top: 3px;
}
.admin-subTitleWidth {
  width: 241px;
}

.adminBtnGrid .adminBtnMain {
  width: 241.33px;
  height: 40px;
  border-radius: 2px;
}

.administration-container-main .adminBtnGrid {
  margin-top: 16px;
}

.madminBtnStyle {
  display: block;
  width: 20px;
  height: 16px;
  background: #e8f4ff;
  border-radius: 24px;
  font-size: 12px;
}

.madminBtnMain {
  display: flex;
  gap: 10px;
}
