.failRxUpload {
    margin-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .failText {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #323234;
  }
  .failTextLight {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #323234;
  }
  .failRxUploadDoneBtn {
    margin-top: 32px;
  }
  .failRxUploadBtn {
    width: 100%;
  }
  