.woundinfo-patientForm {
  background-color: #fff;
  padding: 40px 40px 40px 40px;
  margin-right: 56px;
  margin-bottom: 150px;
}

.woundinfo-newOrder-container {
  margin: 16px 0px 31px 16px;
}

.woundinfo-patientForm .woundinfo-short-form {
  width: 65.56%;
}
