.woundinfocom-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #323234;
}

.comMaincContainer {
  margin-top: 41px;
}

.woundinfo-desp {
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #323234;
}

.comorbodities-data {
  margin-top: 18px;
  width: 560px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 3em;
  -moz-column-gap: 3em;
  column-gap: 3em;
}

.previousTherapy-cause {
  margin-top: 18px;
}

.comorboditiesCheckbox {
  margin-right: 8px !important;
  padding: 0 !important;
}

.comorboditiesCheckbox .comorboditiesCheckboxRoot {
  margin-right: 10px;
  padding: 0;
}

.comorboditieschkBoxDescriptionText {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #656569;
  max-width: max-content;
  margin-top: 5px;
}

.comorboditieschkBoxDescriptionText-active {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #323234;
  max-width: max-content;
  margin-top: 5px;
}

.comorbodities-other-input {
  width: 100%;
  margin: -30px;
  margin-left: 9px;
}

.previousTherapy-otherCause-input {
  width: 50%;
  margin: -30px;
  margin-left: 9px;
}
.comorbodities-data .chkBoxMain {
  display: flex;
  margin-bottom: 22px;
}
