.pod-option-title {
  width: 100%;
  color: #0049bd;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin-left: 5px;
}

.pod-option-icon {
  cursor: pointer;
}

.pod-container .pod-option-title-grid {
  margin-top: 8px;
}

.pod-container .pod-option-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #323234;
  margin-left: 42px;
}

@media only screen and (max-width: 600px) {
  .pod-option-title {
    margin-left: 22px;
  }

  .pod-container .pod-option-desc {
    margin-left: 0px;
    width: 85%;
  }
}
@media only screen and (max-width: 420px) {
  .pod-container .pod-option-desc {
    width: 250px;
  }
}
@media only screen and (max-width: 1020px) {
  .pod-option-title {
    margin-left: 21px;
  }
}
@media only screen and (max-width: 320px) {
  .pod-container .pod-option-desc {
    width: 223px;
  }
}
