.forgotPasswordContainer {
  display: flex;
  padding-top: 140px;
  margin: 0px;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 250px);
  max-height: 816px;
  background: #ffffff;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.appLogoRecovery {
  margin-top: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.lineRecovery {
  width: 1.82px;
  margin: 0 10px;
  background: #b4b4b8;
  height: 45px;
}

.appNameRecovery {
  font-weight: 900;
  font-size: 37.5px;
  line-height: 40px;
  color: #323234;
  margin-top: 8px;
}

.centerLinkRowFlex {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}

.infoText {
  margin-top: 28px;
  width: 384px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #323234;
}

.signupOption {
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.passwordlink {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
  gap: 20px;
}

.signupNowlinks {
  margin-left: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: rgb(30, 100, 208);
  margin-right: 22px;
  text-decoration-color: rgb(30, 100, 208);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
