  .errorTitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #323234;
    margin-bottom: 24px;
  }
  
  .errorDetail {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #323234;
  }
  
  .cancelOrderPopup .backOrderBtn {
    margin: 10px 16px 10px 16px;
  }
  
  .nextOrderPopup .popupCloseIcon {
    display: none;
  }

  .errorPopup .paperRoot {
    width: 403px;
    height: 230px;
  }