.submitterinfo-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-top: 22px;
  color: #323234;
}
.submitterinfo-desp {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #323234;
  margin-bottom: 10px;
}
.submitterinfo-grid {
  width: 100%;
}
.grid-discharge-req {
  margin-top: 8px;
}
.submitterinfo-contactNumber {
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #94949a;
  font-size: 14px;
  padding: 11.15px 12px;
}
.submitterinfo-contactNumber:focus {
  outline: none;
}
.Mui-error + div .submitterinfo-contactNumber {
  border-color: #d32f2f;
}
.input-base-div {
  width: 100%;
}
