.payerAllDetail-container {
  width: 100%;
  margin-top: 16px;
}

.payer-information-input {
  width: 100%;
}
.member-group-id {
  margin-top: 16px;
  width: 100%;
  display: flex;
  gap: 16px;
}

.payer-number-div {
  width: 100%;
  display: flex;
  gap: 16px;
}

.payerAllDetail-container .insurance-informantion-input {
  width: 100%;
}
.payerAllDetail-container
  .insurance-informantion-input
  .insurance-informantion-select {
  height: 12px;
  display: block;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.payerAllDetail-container div.placeHolder {
  border-radius: 2px;
  width: 100%;
  color: #76767a;
}

.payerAllDetail-container .placeHolder div.placeHolder {
  border-right: unset;
  height: 20px;
  width: 100%;
}

.payerAllDetail-information-input {
  width: 100%;
}
.payerContactNumber {
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #94949a;
  font-size: 14px;
  padding: 11.15px 12px;
}

.payerContactNumber:focus {
  outline: none;
}

.Mui-error + div .payerContactNumber {
  border-color: #d32f2f;
}

.payerContactNumberDiv {
  width: 300%;
}
