.proofOfDelivery-main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 16px;
  width: calc(100% - 144px);
  min-height: calc(100vh - 144px);
}
.proofOfDelivery-container-main {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-left: 40px;
  flex-direction: row;
  display: flex;
}

.proofOfDelivery-container-main .patient-details {
  width: 100%;
}
.pod-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #323234;
}
.pod-alert-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #cb0000;
  width: 547px;
}
.pod-subTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #323234;
  padding: 0px 14px 0px 0px;
}
.pod-paragragh {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #323234;
  padding: 40px 0px 0px 0px;
}
.proofOfDelivery-main .backToMyPatients-btn {
  margin: 0px 0px 70px 4px;
}
.patient-details {
  margin-top: 10px;
}
.submit-pod-loader {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100%;
}
.paragraph-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #323234;
  margin-left: 3px;
  margin-right: 3px;
}
.proof-heading {
  display: block;
  margin-left: 3px;
}

@media only screen and (max-width: 1200px) {
  .proofOfDelivery-main {
    width: calc(100% - 30px);
  }
  .proof-heading {
    display: contents;
    margin-left: 3px;
  }
}

@media only screen and (max-width: 912px) {
  .pod-paragraph-mobile {
    width: 500px;
  }
  .pod-paragraph-response {
    width: 500px;
  }
  .paragraph {
    width: 500px;
  }
}
@media only screen and (max-width: 320px) {
  .proof-heading {
    display: contents;
    margin-left: 3px;
  }
  .paragraph {
    width: 240px;
  }
  .pod-paragraph-response {
    width: 236px;
  }
}
@media only screen and (max-width: 600px) {
  .paragraph {
    width: 247px;
  }
  .subtitle {
    width: 277px;
  }
  .pod-paragraph-mobile {
    width: 258px;
  }
  .pod-paragraph-response {
    width: 252px;
  }
}
@media only screen and (min-width: 1020px) {
  .paragraph {
    width: 539px;
  }
  .pod-alert-text {
    width: 540px;
  }
  .proofOfDelivery-main {
    width: calc(100% - 30px);
  }
}
