.debridement-cause
  .debridement-Form
  .debridementType-input
  .debridementType-select {
  height: 12px;
  width: 242px;
  display: block;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.debridement-cause .debridement-Form .debridementType-input {
  width: 242px;
}

.debridement-cause .debridement-Form div.placeHolder {
  border-radius: 2px;
  width: 242px;
}

.debridement-cause .debridement-Form .placeHolder .selectIcon {
  top: 10px;
}

.debridement-cause .debridement-Form .placeHolder div.placeHolder {
  border-right: unset;
  height: 20px;
  width: 242px;
}

.debridement-Form {
  margin-top: 17px;
}

.debridement-Form2 {
  margin-top: 23px;
}

.debridement-cause {
  width: 100%;
  margin-top: 41px;
}

.debridement-cause .debridement-cause-title {
  color: #323234;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.debridement-cause .debridement-cause-box-container {
  margin-top: 8px;
  width: 100%;
}

.debridement-cause .debridement-cause-grid-container {
  width: 100%;
}

.debridement-cause-grid-container .debridement-cause-grid-item {
  width: 100%;
}

.debridement-cause .radioRoot {
  flex-direction: row;
  justify-content: space-between;
}

.debridement-cause .optionRoot {
  border: 1px solid #b4b4b8;
  box-sizing: border-box;
  height: 48px;
  margin: 0;
  width: calc(49% - 4px);
}

.debridement-cause .optionRoot-active {
  border: 1px solid #0049bd;
  box-sizing: border-box;
  height: 48px;
  margin: 0;
  width: calc(49% - 4px);
}

.debridement-cause .optiontxt {
  color: #4c4c4f;
  font-family: "3MCircularTT";
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

.debridement-cause .optiontxtSelect {
  color: #18181a;
  font-family: "3MCircularTT";
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

.dateOfDebridement input.input {
  border-right: 0;
}

div.dateOfDebridement {
  padding-right: 0;
}

.dateOfDebridement .outline {
  border-radius: 2px;
}

.dateOfDebridement.showError .outline {
  border: 1px solid #d32f2f;
}

.dateOfDebridement.noError.Mui-error .outline {
  border: 1px solid #94949a;
}

div.placeholder {
  border-radius: 2px;
  color: #76767a;
}

.placeholder div.placeholder {
  border-right: unset;
  height: 20px;
}
