h2.o-form-head {
  display: none;
}

#okta-sign-in .auth-header {
  padding: 122px 0 0 0 !important;
  display: none;
}

#okta-sign-in {
  border-style: none !important;
}

#okta-sign-in.auth-container.main-container {
  box-shadow: none !important;
  padding: 16px;
  width: 100%;
  max-width: 264px;
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  min-width: auto;
  margin: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#okta-sign-in .auth-content {
  max-width: 264px;
  padding: 0;
}

#okta-sign-in.no-beacon .auth-content {
  padding-top: 3px;
}

#okta-sign-in .auth-footer {
  display: none;
}

#okta-sign-in .focused-input {
  box-shadow: none;
}

#okta-sign-in.auth-container.main-container .margin-btm-5 {
  margin-bottom: 38px !important;
}

#okta-sign-in .o-form .o-form-fieldset.margin-btm-0 {
  margin-bottom: 20px;
}

#okta-sign-in.auth-container .button-primary {
  background: #0049bd;
}

#okta-sign-in.auth-container .button-primary:active,
#okta-sign-in.auth-container .button-primary:focus,
#okta-sign-in.auth-container .button-primary:hover {
  background: #0049bd;
}

#okta-sign-in.auth-container .button-primary:active,
#okta-sign-in.auth-container .button-primary:focus,
#okta-sign-in.auth-container .button-primary:hover {
  background: #0049bd;
}

#okta-sign-in .o-form-input-error .icon-16 {
  left: 0;
}

#okta-sign-in.auth-container .okta-sign-in-header {
  border-bottom: none;
}

#okta-sign-in .focused-input,
#okta-sign-in .link.help:focus,
#okta-sign-in input[type="radio"]:focus + label,
#okta-sign-in input[type="text"]:focus {
  box-shadow: none;
}

#okta-sign-in.auth-container .okta-form-label {
  font-family: "3MCircularTT";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #323234;
}

#okta-sign-in .o-form .custom-checkbox label {
  font-family: "3MCircularTT";
  font-style: normal;
  font-weight: 400;
  color: #4c4c4f;
}

#okta-sign-in .o-form-button-bar {
  padding-bottom: 16px;
}

#okta-sign-in .visibility-16:before {
  content: url("../assets/passwordeye.svg");
  color: #76767a;
}

#okta-sign-in .visibility-off-16:before {
  content: url("../assets/reveal.svg");
  color: #76767a;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}
.okta-form-label:after {
  content: "*";
  color: red;
}
