.order-upload-review-order {
  margin: 0;
  width: calc(100% - 8px);
}

.order-upload-review-order .order-upload-review-order-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0px 0 0 0;
  width: 86px;
  height: 30px;
}

.order-upload-review-order
  .order-upload-review-order-header
  .order-upload-review-order-title {
  color: #323234;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
}

.order-upload-review-order
  .order-upload-review-order-header
  .order-upload-review-order-edit-button {
  color: #0049bd;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 10px;
  min-height: 18px;
  text-align: center;
  text-decoration-line: underline;
  text-transform: none;
}

.order-upload-review-order .order-upload-review-order-grid-container {
  width: 100%;
}

.order-upload-review-order .order-upload-review-order-grid-item {
  width: 100%;
}

.order-upload-review-order-grid-item .order-upload-review-order-content-title {
  color: #808084;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0px;
  min-height: 16px;
}

.order-upload-review-order-grid-item .order-upload-review-order-content-value {
  color: #323234;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 4.1px 0 0 0px;
  width: 544px;
}
