.user-profile-account-info-component {
  width: 80%;
}

.user-profile-account-info-component .user-profile-account-header {
  color: #323234;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.user-profile-account-info-component .user-accountInfo-grid-container {
  width: 75%;
  display: flex;
  flex-direction: row;
}

.user-accountInfo-grid-container .grid-item-width {
  width: 192px;
}

.user-profile-account-info-component .account-info-input {
  width: 176px;
}

.user-profile-account-info-component .user-profile-contact-info {
  margin-top: 10px;
}

.user-profile-account-info-component .user-profile-email-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #76767a;
}

.user-profile-account-info-component .user-profile-email {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #0049bd;
  cursor: pointer;
}

.user-profile-account-info-component .user-profile-phone-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #76767a;
}

.user-profile-account-info-component .user-profile-phone {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #323234;
}

@media only screen and (max-width: 600px) {
  .user-profile-account-info-component {
    width: 100%;
  }
  .user-profile-account-info-component .user-accountInfo-grid-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .user-accountInfo-grid-container .grid-item-width {
    width: 100%;
    height: 70px;
  }
  .user-profile-account-info-component .account-info-input {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 912px) {
  .user-profile-account-info-component {
    width: 100%;
  }
  .user-profile-account-info-component .user-accountInfo-grid-container {
    width: 95%;
  }
}
