.pickup-request-component .device-info-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.device-info-container .device-info-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #323234;
}
