.patientadmissiontype {
  width: 100%;
  margin-top: 3%;
}
.patientadmissiontype .patientadmissiontype-title {
  color: #323234;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}
.patientadmissiontype .radioRoot {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3%;
}
.patientadmissiontype .optionRoot {
  border: 1px solid #b4b4b8;
  box-sizing: border-box;
  height: 50px;
  margin: 0;
  width: calc(49% - 4px);
}
.patientadmissiontype .optionRoot-active {
  border: 1px solid #0049bd;
  box-sizing: border-box;
  height: 50px;
  margin: 0;
  width: calc(49% - 4px);
}
.patientadmissiontype .optiontxt {
  color: #4c4c4f;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}
.patientadmissiontype .optiontxtSelect {
  color: #18181a;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}
.patient-admissiontype-label-item {
  margin-top: 2.5%;
}
